.cssReset {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.theBackground {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient */
    background: repeating-linear-gradient(
        to right,
        paleturquoise 0%,
        pink 25%,
        rgb(88, 220, 88) 75%,
        rgb(255, 252, 93) 100%
    );
}

.titleBlur {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter#blur() */
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 10px 0;
}

.formContainer {
    align-items: center;
    /* width: auto; */
    height: auto;
    /* display: flex; */
}

.tabs {
    position: relative;
    display: flex;
    background:rgba(236, 244, 252, 0.3);
    border-top: 1px solid #fe0066;
    border-bottom: 1px solid #fe0066;
    
}

.tabInner {
    padding: 5px 12px;
    margin: 5px 0;
    text-align: right;
}


.notHidden {
    background: #fe0066;
}

.login {
    margin-right: 15px;
}

.formPage {
    width: 50%;
    /* margin-top: 40px; */
    padding: 40px;
    position: relative;
    display: flex;
    margin: auto;
    transition: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.aForm {
    border-radius: 4px;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
    text-align: center;
    margin: auto;
    width: 100%;
}

.aLabel {
    display: block;
    padding: 30px 15px 0;
    text-align: center;
    letter-spacing: 10px;
    font-size: 20px;
}

.formElement {
    position: relative;

}

.formBg {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient */
    background: repeating-linear-gradient(
        45deg,
        rgba(26, 69, 69, 0.75) 0%,
        rgba(99, 40, 50, 0.75) 25%,
        rgba(15, 63, 15, 0.75) 75%,
        rgba(60, 59, 9, 0.75) 100%
    );
}

.inputFocus {
    text-align: center;
    border: none;
    width: 75%;
    background: rgba(0, 0, 0, 0.3);
    color:rgb(236, 244, 252);
    transition-duration: 0.2s;
    transition-property: width, background, color;
}

.inputFocus:hover {
    background: rgba(255, 255, 255, 0.6);
    color:rgb(0, 0, 0);
}

.inputFocus:focus {
    width: 90%;
    background: rgba(255, 255, 255, 0.9);
    color:rgb(0, 0, 0);
}
